body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}
.container {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  padding: 10px 15px;
  background-color: #39da0c;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #39da0c;
}
.hidden {
  display: none;
}
#toggle-link {
  color: #1e6218;
  cursor: pointer;
  font-size: 0.9em;
}
